name: Deploy to Cloudflare Pages

on:
  push:
    branches:
      - master
    paths:
      - 'sistema-elon-parker/**'

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      deployments: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: ./sistema-elon-parker
        run: npm install

      - name: Build
        working-directory: ./sistema-elon-parker
        run: npm run build

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: elon-parker-auth
          directory: sistema-elon-parker/.next/static
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
